<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.asiainfo.rms.system.dao.SysStationWfRoleDao">
    <resultMap id="BaseResultMap" type="com.asiainfo.rms.system.domain.SysStationWfRoleRepository" >
        <id column="REL_ID" property="relId" jdbcType="INTEGER" />
        <result column="STATION_ID" property="stationId" jdbcType="INTEGER" />
        <result column="WF_ROLE_ID" property="wfRoleId" jdbcType="INTEGER" />
        <result column="OP_ID" property="opId" jdbcType="INTEGER" />
        <result column="CREATE_DATE" property="createDate" jdbcType="DATE" />
        <result column="NAME" property="name" jdbcType="VARCHAR" />
        <result column="CODE" property="code" jdbcType="VARCHAR" />
    </resultMap>

    <sql id='TABLE_SEQUENCE'>SYS_STATION_WF_ROLE$SEQ.nextval</sql>

    <insert id="saveStationWfRole" parameterType="com.asiainfo.rms.system.domain.SysStationWfRoleRepository" >
        <selectKey keyProperty="relId" resultType="java.lang.Integer" order="BEFORE">
            select SYS_STATION_WF_ROLE$SEQ.nextval from dual
        </selectKey>
        insert into SYS_STATION_WF_ROLE
        <trim prefix="(" suffix=")" suffixOverrides="," >
                REL_ID,
            <if test="stationId != null" >
                STATION_ID,
            </if>
            <if test="wfRoleId != null" >
                WF_ROLE_ID,
            </if>
            <if test="opId != null" >
                OP_ID,
            </if>
            <if test="createDate != null" >
                CREATE_DATE,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            #{relId,jdbcType=INTEGER},
            <if test="stationId != null" >
                #{stationId,jdbcType=INTEGER},
            </if>
            <if test="wfRoleId != null" >
                #{wfRoleId,jdbcType=INTEGER},
            </if>
            <if test="opId != null" >
                #{opId,jdbcType=INTEGER},
            </if>
            <if test="createDate != null" >
                #{createDate,jdbcType=DATE},
            </if>
        </trim>
    </insert>

    <delete id="deleteStationWfRole">
        delete from SYS_STATION_WF_ROLE
        where REL_ID = #{relId,jdbcType=INTEGER}
    </delete>

    <select id="getStationWfRoleCount" resultType="java.lang.Integer">
        select count(*) FROM (
        select * from (
        select A.*,B.code,B.name from SYS_STATION_WF_ROLE A, SYS_WF_ROLE B
        where A.STATION_ID = #{stationId,jdbcType=INTEGER}
        AND A.WF_ROLE_ID = B.WF_ROLE_ID
        AND B.STATE = 1
        <if test="keyword !=null ">and( B.code like CONCAT(CONCAT('%',#{keyword}),'%')
            or B.name like CONCAT(CONCAT('%',#{keyword}),'%'))
        </if>
        )
        )
    </select>

    <select id="selectStationWfRoleByStationId" resultMap="BaseResultMap">
        select * from (
        select ROWNUM AS ROWNO,A.*,B.code,B.name from SYS_STATION_WF_ROLE A, SYS_WF_ROLE B
        where A.STATION_ID = #{stationId,jdbcType=INTEGER}
        AND A.WF_ROLE_ID = B.WF_ROLE_ID
        AND B.STATE = 1
        <if test="keyword !=null ">and( B.code like CONCAT(CONCAT('%',#{keyword}),'%')
            or B.name like CONCAT(CONCAT('%',#{keyword}),'%'))
        </if>
        and ROWNUM &lt;= (#{offset} * #{size}) )a
        where a.ROWNO >=(#{offset}-1) * #{size}+1
    </select>
</mapper>